@font-face {
  font-family: 'Inter Light';
  src: url('../fonts/inter_light.eot'); /* IE 9 Compatibility Mode */
  src:
    url('../fonts/inter_light.eot?#iefix') format('embedded-opentype'),
    /* IE < 9 */ url('../fonts/inter_light.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/inter_light.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */ url('../fonts/inter_light.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/inter_light.svg#inter_light') format('svg'); /* Chrome < 4, Legacy iOS */
}
