@import './base.scss';

@font-face {
  font-family: 'Inter Bold';
  src: url('./fonts/inter_bold.eot');
  src:
    url('./fonts/inter_bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter_bold.woff2') format('woff2'),
    url('./fonts/inter_bold.woff') format('woff'),
    url('./fonts/inter_bold.ttf') format('truetype'),
    url('./fonts/inter_bold.svg#inter_bold') format('svg');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('./fonts/inter_medium.eot');
  src:
    url('./fonts/inter_medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter_medium.woff2') format('woff2'),
    url('./fonts/inter_medium.woff') format('woff'),
    url('./fonts/inter_medium.ttf') format('truetype'),
    url('./fonts/inter_medium.svg#inter_medium') format('svg');
}

@font-face {
  font-family: 'Inter Light';
  src: url('./fonts/inter_light.eot');
  src:
    url('./fonts/inter_light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/inter_light.woff2') format('woff2'),
    url('./fonts/inter_light.woff') format('woff'),
    url('./fonts/inter_light.ttf') format('truetype'),
    url('./fonts/inter_light.svg#inter_light') format('svg');
}

@font-face {
  font-family: 'CormorantSC-Medium';
  src: url('./fonts/cormorantsc-medium.eot');
  src:
    url('./fonts/cormorantsc-medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/cormorantsc-medium.woff2') format('woff2'),
    url('./fonts/cormorantsc-medium.woff') format('woff'),
    url('./fonts/cormorantsc-medium.ttf') format('truetype'),
    url('./fonts/cormorantsc-medium.svg#cormorantsc-medium') format('svg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow-y: auto;
  line-height: 1.4;
}

body {
  font-family: 'Inter Medium';
  background-color: $primary-white;
  color: $primary-black;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.wrapper {
  margin: 0 1.25rem;
  @media screen and (min-width: $lg) {
    margin: 0 100px;
  }
  @media screen and (min-width: $xl) {
    margin: 0 auto;
    max-width: 1240px;
  }
}

.title {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: 'CormorantSC-Medium';
  @media screen and (min-width: $md) {
    font-size: 1rem;
  }
}

svg {
  fill: currentColor;
}

input,
select {
  font-family: 'Inter Light';
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid $primary-light-gray;
  border-radius: 0.25rem;
  outline: none;
  color: $primary-dark-gray;
  &:focus {
    border: 1px solid $primary-dark-gray;
  }
}

// select {
// }

.input-container {
  color: $primary-dark-gray;
}

::placeholder {
  color: $secondary-gray;
  font-size: 0.75rem;
  @media screen and (min-width: $md) {
    font-size: 1rem;
  }
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme='dark'] {
  body {
    background-color: $primary-black;
    color: $primary-light-gray;
  }

  input {
    background-color: $secondary-black;
    border: 1px solid $secondary-black;
    color: $primary-light-gray;
    &:focus {
      border-color: $primary-light-gray;
    }
  }

  .input-container {
    color: $primary-light-gray;
  }
}
